<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Titanic Dataset</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <style>
        .center {
            margin: 0 auto; /* This will center the div */
            width: 80%; /* Adjust width as needed */
        }
    </style>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="hello.html">Home</a></li>
                <li><a href="titanic.html">Titanic</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Titanic Dataset</h1>
        <p>Count: {{ count }}</p> <!-- Überprüfen Sie, ob count hier richtig verwendet wird -->
        <div class="center"> <!-- Add this div with the 'center' class -->
            {{ titanic_table | safe }}
        </div>
        <img src="{{ url_for('static', filename='survival_chart.png') }}" alt="Survival Chart">
    </main>
    <footer>
        Made with ❤️ by Hendrik
    </footer>
</body>

</html>
